/*
Swerve senior design team animation style sheet
Author: Frederick Wachter - wachterfreddy@gmail.com
Created: 2016-06-25
*/

body {
	margin:0px;
	background-color:whitesmoke;
}

/* Classes */
.center {
	position:fixed;
	left:50%;
	top:50%;
}

/* Page Background */
#animation {
	position:fixed;
	height:100%;
	width:100%;
	background:black;
	background-size:cover;
}

/* Logo */
.logo {
	height:100px;
	display:inline-block;;
}

#logo {
	margin-left:-150px;
	margin-top:-50px;
	height:100px;
	width:300px;
}

.logo_bracket {
	width:20px;
}

.logo_line {
	width:35px;
}

.logo_words {
	margin-left:-5px;
	width:190px;
}

#logo_bracket_left {
	background:url("img/logo/logo_bracket_left_white.png") no-repeat center center;
    background-size:contain;
}

#logo_line {
	background:url("img/logo/logo_line_white.png") no-repeat center center;
    background-size:contain;
}

#logo_bracket_right {
	background:url("img/logo/logo_bracket_right_white.png") no-repeat center center;
    background-size:contain;
}

#logo_words {
	background:url("img/logo/logo_werve_white.png") no-repeat center center;
    background-size:contain;
}

/* Animation */

.animation div {
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-50px;
}


